In [33]:
import requests
import json


url = 'http://taas.koroad.or.kr/data/rest/stt?authKey=uvHbK5IgpWi6MvjtC12oE85HN5GdKymu6VXYlXR1KlkYaNzK1PhevqQQ0B%2BUIrvX'
params = {'type':'json','searchYearCd':'2018','guGun':'1101'}
res = requests.get(url,params)

In [34]:
print(res)

<Response [200]>

In [48]:
# print(res.json())

{'resultCode': '30', 'resultMsg': 'SERVICE_KEY_IS_NOT_REGISTERED_ERROR'}

In [2]:
import csv
import pandas as pd
from matplotlib import pyplot

import pandas as pd
from sklearn.base import BaseEstimator, TransformerMixin

In [8]:
df = pd.read_csv('12_19_stt.csv',encoding='cp949')

In [9]:
df

,연도,대상사고 구분명,법정동코드,사고건수,사고건수 구성비,사망자수,사망자수 구성비,치사율,부상자수,부상자수 구성비
0,2012,어린이사고,1101,37,0.30,0,0.00,0.00,60,0.39
1,2012,노인사고,1101,144,0.51,4,0.21,2.78,149,0.50
2,2012,보행자사고,1101,405,0.79,9,0.44,2.22,412,0.80
3,2012,자전거사고,1101,53,0.41,0,0.00,0.00,55,0.42
4,2012,야간사고,1101,677,0.63,6,0.21,0.89,1015,0.61
...,...,...,...,...,...,...,...,...,...,...
9142,2019,어린이사고,2701,64,0.58,0,0.00,0.00,75,0.53
9143,2019,노인사고,2701,134,0.33,8,0.53,5.97,153,0.34
9144,2019,보행자사고,2701,144,0.31,3,0.23,2.08,147,0.31
9145,2019,자전거사고,2701,82,0.62,1,0.56,1.22,86,0.63
9146,2019,야간사고,2701,366,0.40,5,0.31,1.37,516,0.38

In [12]:
is_kids = df['대상사고 구분명'] == '어린이사고'
is_kids = df[is_kids]

In [13]:
is_kids

,연도,대상사고 구분명,법정동코드,사고건수,사고건수 구성비,사망자수,사망자수 구성비,치사율,부상자수,부상자수 구성비
0,2012,어린이사고,1101,37,0.30,0,0.00,0.00,60,0.39
5,2012,어린이사고,1102,28,0.22,0,0.00,0.00,36,0.23
10,2012,어린이사고,1103,32,0.26,0,0.00,0.00,37,0.24
15,2012,어린이사고,1104,27,0.22,0,0.00,0.00,31,0.20
20,2012,어린이사고,1105,50,0.40,0,0.00,0.00,55,0.36
...,...,...,...,...,...,...,...,...,...,...
9122,2019,어린이사고,2602,55,0.50,0,0.00,0.00,64,0.45
9127,2019,어린이사고,2603,29,0.26,0,0.00,0.00,33,0.23
9132,2019,어린이사고,2604,52,0.47,1,3.57,1.92,64,0.45
9137,2019,어린이사고,2605,40,0.36,1,3.57,2.50,42,0.30
9142,2019,어린이사고,2701,64,0.58,0,0.00,0.00,75,0.53

In [16]:
is_death = df['사망자수'] > 0
is_death = df[is_death]

In [20]:
is_old = is_death['대상사고 구분명'] == '노인사고'

In [25]:
c = 0
d = 0
for i in list(is_old):
    if i == True:
        c +=1
    else :
        d +=1

In [32]:
print('사망한 사고에서 노인사고는 '+str(c)+'명 이고 그외 '+str(d)+'명은 사망하지 않았습니다.')

사망한 사고에서 노인사고는 1795명 이고 그외 4952명은 사망하지 않았습니다.

## 공공데이터 API json 형태로

In [129]:
import urllib.request

In [124]:
#url = 'https://api.odcloud.kr/api/15070339/v1/uddi:4a675be8-b829-460c-a2463vgEXKTbtEDLnQc5A1FnduZZ1TCYHLo16pJkHU7%2BWQbi%2FPsxm0870yPSEqlgzdMIfIQO8uGg%3D%3D&page=1&perPage=100&returnType=json'
response = urllib.request.urlopen(url)
#변수 page, perPage, returnType

In [125]:
response

In [126]:
json_str = response.read().decode("utf-8")

In [127]:
import json
json_obj = json.loads(json_str)

In [128]:
json_obj

{'currentCount': 5,
 'data': [{'경상자수': '227590',
   '발생년': '2012',
   '부상신고자수': '15272',
   '사고건수': '223656',
   '사망자수': '5392',
   '중상자수': '101703'},
  {'경상자수': '215787',
   '발생년': '2013',
   '부상신고자수': '17563',
   '사고건수': '215354',
   '사망자수': '5092',
   '중상자수': '95361'},
  {'경상자수': '223375',
   '발생년': '2014',
   '부상신고자수': '21075',
   '사고건수': '223552',
   '사망자수': '4762',
   '중상자수': '93047'},
  {'경상자수': '233646',
   '발생년': '2015',
   '부상신고자수': '24232',
   '사고건수': '232035',
   '사망자수': '4621',
   '중상자수': '92522'},
  {'경상자수': '226283',
   '발생년': '2016',
   '부상신고자수': '22974',
   '사고건수': '220917',
   '사망자수': '4292',
   '중상자수': '82463'}],
 'matchCount': 5,
 'page': 1,
 'perPage': 100,
 'totalCount': 5}

------

## 이륜차 사고 데이터

In [2]:
import pandas as pd

In [3]:
motor_acc = pd.read_csv('17_19_motorcycle.csv',encoding='cp949')

In [4]:
motor_acc

,사고다발지FID,사고다발지ID,법정동코드,지점코드,시도시군구명,지점명,발생건수,사상자수,사망자수,중상자수,경상자수,부상신고자수,경도,위도,다발지역폴리곤
0,104688,2020058,1111017500,11110001,서울특별시 종로구1,서울특별시 종로구 숭인동(동묘앞역 부근),43,53,0,19,27,7,127.015644,37.573022,"{""type"":""Polygon"",""coordinates"":[[[127.0167759..."
1,104683,2020058,1111017400,11110002,서울특별시 종로구2,서울특별시 종로구 창신동(오간수교남단 부근),28,33,0,6,16,11,127.009633,37.569467,"{""type"":""Polygon"",""coordinates"":[[[127.0107653..."
2,104684,2020058,1111016400,11110003,서울특별시 종로구3,서울특별시 종로구 종로6가(동대문로터리 부근),25,28,0,6,13,9,127.008737,37.571310,"{""type"":""Polygon"",""coordinates"":[[[127.0098693..."
3,104573,2020058,1111016500,11110004,서울특별시 종로구4,서울특별시 종로구 이화동(이화사거리 부근),24,24,0,9,12,3,127.002189,37.576176,"{""type"":""Polygon"",""coordinates"":[[[127.0033209..."
4,104773,2020058,1111016100,11110005,서울특별시 종로구5,서울특별시 종로구 종로4가(종로4가일반국도6호선 부근),21,31,0,12,16,3,126.997298,37.570828,"{""type"":""Polygon"",""coordinates"":[[[126.9984304..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,104358,2020058,1126010600,11260019,서울특별시 중랑구19,서울특별시 중랑구 신내동(중랑구청사거리 부근),15,16,0,4,10,2,127.095286,37.606403,"{""type"":""Polygon"",""coordinates"":[[[127.0964184..."
96,104727,2020058,1126010200,11260020,서울특별시 중랑구20,서울특별시 중랑구 상봉동(혜원사거리 부근),15,18,0,3,11,4,127.093200,37.594137,"{""type"":""Polygon"",""coordinates"":[[[127.0943324..."
97,104640,2020058,1126010200,11260021,서울특별시 중랑구21,서울특별시 중랑구 상봉동(기아큐서비스 부근),15,15,0,3,8,4,127.080076,37.593052,"{""type"":""Polygon"",""coordinates"":[[[127.0812083..."
98,104642,2020058,1129013400,11290001,서울특별시 성북구1,서울특별시 성북구 길음동(길음역로터리 부근),39,43,0,12,24,7,127.025421,37.604028,"{""type"":""Polygon"",""coordinates"":[[[127.0265543..."
99,104643,2020058,1129010800,11290002,서울특별시 성북구2,서울특별시 성북구 동소문동5가(성신여대입구역 부근),29,32,0,7,24,1,127.016600,37.592464,"{""type"":""Polygon"",""coordinates"":[[[127.0177321..."

In [5]:
list(motor_acc['다발지역폴리곤'])[0][32:-1]

d =

In [6]:
d

(127.0016985, 37.5642)

In [10]:
import folium
from folium.plugins import MarkerCluster

In [14]:
seoul_location = motor_acc[['위도', '경도']]

map = folium.Map(location =  [127.0016985,37.5642], zoom_start =12)


for a in seoul_location.index:
    latitude = seoul_location.loc[a,"위도"]
    longtitude = seoul_location.loc[a,"경도"]
    tooltip = "사고!"
    folium.Marker([latitude, longtitude], popup = '<i>위험</i>', tooltip =tooltip).add_to(map)

In [17]:
list1=[]
list2=[]
marker_cluster = MarkerCluster().add_to(map)
for a in seoul_location.index:
    folium.Marker(location = [seoul_location.loc[a,"위도"],seoul_location.loc[a,"경도"]],
                  zoom_start=12,
                  #popup=seoul_location.loc[a,"사고유형구분"]).add_to(marker_cluster)
    list1.append(seoul_location.loc[a,"위도"])
    list2.append(seoul_location.loc[a,"경도"])

SyntaxError: invalid syntax (<ipython-input-17-67d8624a8e04>, line 9)

In [1]:
motor_acc['다발지역폴리곤']

NameError: name 'motor_acc' is not defined

In [16]:
from shapely.geometry import Point, Polygon


engineer_poly = Polygon(engineer)

NameError: name 'engineer' is not defined