In [1]:
import requests
import json
import os 
import sys
# url = 'http://taas.koroad.or.kr/data/rest/stt?authKey=uvHbK5IgpWi6MvjtC12oE85HN5GdKymu6VXYlXR1KlkYaNzK1PhevqQQ0B%2BUIrvX'
# params = {'type':'json','searchYearCd':'2018','guGun':'1101'}
# res = requests.get(url,params)

In [2]:
# print(res)

In [3]:
# print(res.json())

In [4]:
import csv
import pandas as pd
import fastapi
from matplotlib import pyplot

import pandas as pd
from sklearn.base import BaseEstimator, TransformerMixin

In [5]:
print(os.getcwd())

/home/rest_api/src

In [6]:
dire = os.path.dirname(os.getcwd())
print (dire)
# 상위 디렉토리

/home/rest_api

In [7]:
dire = os.path.dirname(os.getcwd())



data_dir = dire + '/data'

df = pd.read_csv(data_dir + '/12_19_교통사고정보.csv',encoding='utf-8')

In [8]:
df

,연도,대상사고 구분명,법정동코드,사고건수,사고건수 구성비,사망자수,사망자수 구성비,치사율,부상자수,부상자수 구성비
0,2012,어린이사고,1101,37,0.30,0,0.00,0.00,60,0.39
1,2012,노인사고,1101,144,0.51,4,0.21,2.78,149,0.50
2,2012,보행자사고,1101,405,0.79,9,0.44,2.22,412,0.80
3,2012,자전거사고,1101,53,0.41,0,0.00,0.00,55,0.42
4,2012,야간사고,1101,677,0.63,6,0.21,0.89,1015,0.61
...,...,...,...,...,...,...,...,...,...,...
9142,2019,어린이사고,2701,64,0.58,0,0.00,0.00,75,0.53
9143,2019,노인사고,2701,134,0.33,8,0.53,5.97,153,0.34
9144,2019,보행자사고,2701,144,0.31,3,0.23,2.08,147,0.31
9145,2019,자전거사고,2701,82,0.62,1,0.56,1.22,86,0.63
9146,2019,야간사고,2701,366,0.40,5,0.31,1.37,516,0.38

In [9]:
is_kids = df['대상사고 구분명'] == '어린이사고'
is_kids = df[is_kids]

In [10]:
is_kids

,연도,대상사고 구분명,법정동코드,사고건수,사고건수 구성비,사망자수,사망자수 구성비,치사율,부상자수,부상자수 구성비
0,2012,어린이사고,1101,37,0.30,0,0.00,0.00,60,0.39
5,2012,어린이사고,1102,28,0.22,0,0.00,0.00,36,0.23
10,2012,어린이사고,1103,32,0.26,0,0.00,0.00,37,0.24
15,2012,어린이사고,1104,27,0.22,0,0.00,0.00,31,0.20
20,2012,어린이사고,1105,50,0.40,0,0.00,0.00,55,0.36
...,...,...,...,...,...,...,...,...,...,...
9122,2019,어린이사고,2602,55,0.50,0,0.00,0.00,64,0.45
9127,2019,어린이사고,2603,29,0.26,0,0.00,0.00,33,0.23
9132,2019,어린이사고,2604,52,0.47,1,3.57,1.92,64,0.45
9137,2019,어린이사고,2605,40,0.36,1,3.57,2.50,42,0.30
9142,2019,어린이사고,2701,64,0.58,0,0.00,0.00,75,0.53

In [ ]:
is_death = df['사망자수'] > 0
is_death = df[is_death]

In [ ]:
is_old = is_death['대상사고 구분명'] == '노인사고'

In [ ]:
c = 0
d = 0
for i in list(is_old):
    if i == True:
        c +=1
    else :
        d +=1

In [ ]:
print('사망한 사고에서 노인사고는 '+str(c)+'명 이고 그외 '+str(d)+'명은 사망하지 않았습니다.')

## 공공데이터 API json 형태로

In [ ]:
import urllib.request

In [ ]:
# url = 'https://api.odcloud.kr/api/15070339/v1/uddi:4a675be8-b829-460c-a2463vgEXKTbtEDLnQc5A1FnduZZ1TCYHLo16pJkHU7%2BWQbi%2FPsxm0870yPSEqlgzdMIfIQO8uGg%3D%3D&page=1&perPage=100&returnType=json'
# response = urllib.request.urlopen(url)
# #변수 page, perPage, returnType

In [ ]:
# response

In [ ]:
# json_str = response.read().decode("utf-8")

In [ ]:
import json
# json_obj = json.loads(json_str)

In [ ]:
# json_obj

------

## 이륜차 사고 데이터

In [ ]:
import pandas as pd

In [ ]:
dire = os.path.dirname(os.getcwd())



data_dir = dire + '/data'
motor_acc = pd.read_csv(data_dir + '/17_19_motorcycle_위치정보.csv',encoding='utf-8')

In [ ]:
motor_acc

In [ ]:
d =  list(motor_acc['다발지역폴리곤'])[0][32:-1]

## 지도에 표시

In [ ]:
import folium
from folium.plugins import MarkerCluster
import pandas as pd

In [ ]:
seoul_location = motor_acc[['위도', '경도']]

dire = os.path.dirname(os.getcwd())



data_dir = dire + '/data'
motor_acc = pd.read_csv(data_dir + '/17_19_motorcycle_위치정보.csv',encoding='utf-8')
map = folium.Map(location =  [37.5642,127.0016985,], zoom_start =12)

for a in seoul_location.index:
    latitude = seoul_location.loc[a,"위도"]
    longtitude = seoul_location.loc[a,"경도"]
    tooltip = "사고!"
    folium.Marker([latitude, longtitude], popup = '<i>위험</i>', tooltip =tooltip).add_to(map)

In [ ]:

seoul_location = motor_acc[['위도', '경도']]
map = folium.Map(location =  [37.5642,127.0016985,], zoom_start =12)

list1=[]
list2=[]
marker_cluster = MarkerCluster().add_to(map)
for a in seoul_location.index:
    folium.Marker(location = [seoul_location.loc[a,"위도"],seoul_location.loc[a,"경도"]],
                  zoom_start=12,
                  popup=seoul_location.loc).add_to(marker_cluster)
    list1.append(seoul_location.loc[a,"위도"])
    list2.append(seoul_location.loc[a,"경도"])

In [ ]:
map

In [ ]:
motor_acc['다발지역폴리곤']

In [ ]:
# from shapely.geometry import Point, Polygon


# engineer_poly = Polygon(engineer)

In [ ]:
import dir_path

In [ ]:
print(dir_path.PATH.data_dir)